@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@theme {
  --color-darkPurple: #1a092e;
  --color-accentPurple: #7e3ff2;
  --color-softPurple: #a78bfa;
}

html {
  scroll-behavior: smooth;
}
